@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
font-family: 'Outfit', sans-serif;
}

body {
       background-color:hsl(212, 45%, 89%);
     }
     
.box-position {
    position: relative;
    text-align: center;
    
    
}

.caja {  
            background-color: hsl(0, 0%, 100%);
            position: relative;
            width: 300px;
            border: 1px solid hsl(212, 45%, 89%);
            padding: 20px;
            margin: 300px auto;
            border-radius: 30px;
}   
img {
    position: relative;
    width: 300px;
    border-radius: 30px;
}
 
h1 {
    font-size: 25px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
    }

h3 {

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%)
}



  .attribution a {
      color: hsl(228, 45%, 44%);
  }